body {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#gameBoard {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  #gameBoard .alienContainer {
    width: 38%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    #gameBoard .alienContainer__alien {
      height: 70px;
      width: 70px;
      box-sizing: border-box;
      margin: 0;
      padding: 0; }

#spaceshipContainer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%); }

#spaceLaser {
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: calc(1rem + 100px);
  transform: translateX(-57%);
  display: none;
  animation: 0.5s ease-in-out laserFire; }

@keyframes laserFire {
  from {
    bottom: calc(1rem + 100px); }
  to {
    bottom: 105%; } }
