body {
    position: relative;
    text-align: center;
    height: 100vh;
}

#color-input {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    background: white;
    color: white;
    contain: content;
    position: absolute;
    top: 3rem;
    right: 3rem;
}

h1 {
    font-size: 3rem;
    display: inline-block;
    font-family: sans-serif;
    margin: 0 auto;
    color: #444;
    padding-top: 6rem;
}

#spaceshipContainer {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
