#spaceshipContainer {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

#spaceLaser {
    height: 100px;
    position: absolute;
    left: 50%;
    bottom: calc(1rem + 100px);
    transform: translateX(-57%);
    display: none;
    animation: 0.5s ease-in-out laserFire;
}